

input {
    width: 100%;    /* keep the input width as width as possible */
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

/*.mobile {*/
/*    padding: 0px !important;*/
/*}*/

.btn-margin {
    margin: 0px 2px;
}



/*** Form ***/

.form-border {
    border: 5px;
    color: black;
}
.name, .message {
    margin: 15px auto;
    padding: 0 15px;
}

.alert {
    font-weight: bold;
    font-style: italic;
    color: red;
}

#messagetextfield {
    height: 100px;
}

#messagetextarea {
    width: 100%;    /* keep the input width as width as possible */
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.error {
    color: red;
}

/*** Post ***/
.posts {
    margin: 15px auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    min-height: 150px;
}

.avatar {
    padding-top:15px;
    /*width:80%;*/
    max-width: 50px;

}

.username {
    padding: 0 15px;
    font-size: 1.5em;
}

.error-middle {
    text-align: center;
}

/*** Comment ***/

.list-group li:nth-child(odd) {
    background-color: pink;
}
.list-group li:nth-child(even) {
    background-color: cornflowerblue;
}

.list-group-item {
    margin: 20px auto;
}


/*** User ***/
.panel-heading a {
    color:white;
}

.panel-heading a:hover {
    color:white;
    text-decoration:none;
}


/*** Custom Navbar color ***/
.navbar-custom {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar-custom .navbar-brand {
    color: #FFF;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #dbd6d6;
}

.navbar-custom .navbar-text {
    color:#FFF;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFF;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #dbd6d6;
    background-color: #337ab7;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #337ab7;;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #dbd6d6;
}

.navbar-custom .navbar-toggle {
    border-color: #FFF;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #286090;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color:  #FFF;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #FFF;
}

.navbar-custom .navbar-link {
    color: #FFF;
}

.navbar-custom .navbar-link:hover {
    color: #dbd6d6;
    text-decoration:none;
    margin-top:0;
    margin-bottom:0;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: color: #dbd6d6;;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #dbd6d6;;
        /* background-color: #FFF; */
    }
}
